*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
/* ---------header---------- */
#page{
    height: 100vh;
}
.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6%;
}
.search-icon {
    padding-right: 15px;
}
/* -------menu------ */
.menu-items {
    display: flex;
}
button {
    width: 100%;
    position: relative;
    background-color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid transparent;
}
#menu{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0), rgb( 0, 153, 51));
    background-color: #000;
width: 100%;
}
.pic1{
background-color: rgb(0, 153, 51);
}
.pic2{
   border-bottom-left-radius: 8px;
}
.pic1 img{
    height: 60px;
    margin-top: 5px;

}
.pic2 img{
    padding-bottom: 3px;
    height: 59px;
    padding-top: 10%; 
}
.pic3 img{
    padding: 0 4px 3px 4px;
    padding-top: 6%;
    height: 60px;
}
.pic3{

}
.pic4 img{
     height: 60px;
    padding: 0 2.5px;
    padding-top: 10%;
}
/* --------------body--------------- */
.body{
    background-image: linear-gradient(to bottom, rgb(0,153,51),rgb(0,102,51));
    height: 75%;
}
.container{
    padding: 4% 3%;
}
#rows{
    background-color: black;
    height: 90px;
    border-radius: 10px;
    display: flex;
    margin: 10px;
}
#first-part{
    padding: 15px 5px 18px 15px;
    padding-left: 15px;
}
#first-part img{
    height: 65px;
}
#second-part{
    display: grid;
    color: white;
    padding: 13px 0px 0px 0px;
    width: 57%;
    height: 75%;
}
table tr th{
    color: rgb(0,204,255);
    /* padding-bottom: 3px; */
    font-size: 17px;
    float: left;
}
table tr td{
    font-size: 15px;
    width: 90%;
    padding-top: 0%;
}
#third-part{
    margin-left: auto;
    margin: 10px 2%;
}
.second-row #first-part{
    padding-left: 10px;
}
.forth-row #first-part{
    padding: 13px 13px;
}
@media only screen and (min-width: 430px){
    .container{
        padding: 3% 3%;
    }
    #rows{
        height: 110px;
        margin: 10px;
    }
    #first-part{
        padding: 16px 15px 18px 25px;
    }
    #first-part img{
        height: 80px;
    }
    #second-part{
        padding: 13px 0px 0px 0px;
        width: 50%;
        height: 75%;
    }
    table tr th{
        font-size: 20px;
    }
    table tr td{
        font-size: 16px;
        width: 90%;
    }
    #third-part{
        margin-left: auto;
        margin: 10px;
    }
    .second-row #first-part{
        padding-left: 20px;
    }
    .forth-row #first-part{
        padding: 15px 20px 15px 25px;
    }
}